# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
_build.R

# build artefacts
*.tar.gz
*.Rcheck/
/doc/
/Meta/
docs/
revdep/
CRAN-SUBMISSION

# OS
.DS_Store
Thumbs.db

.vscode/
.idea/
.data/
_coverage/
*.tmp
*.log
*~
*.bak
*.orig
